{% extends "inicio.html" %}
{% load static %}
{% block titulo %}
<h1 class="mb-5" >ABOUT US</h1>
{% endblock %}
{% block libreria %}
<div class="container">
  <div class="row">
    <div class="col-sm">
     <h3 style="text-transform: capitalize; text-align: left;">Emilia Peña Onganía</h3>
        <p>edad: 41 años<br>
            Actualmente trabajo en un banco hace 18 años,<br>
            Me anote en el curso para poder incorporar herramientas<br> para aplicar en las areas que trabajo</p>
    </div>
    <div class="col-sm">
    <h3 style="text-transform: capitalize; text-align: right;">Santiago Agustin Gittardi</h3>
        <p style="text-align:right">edad: 24 años<br>
         Actualmente curso la carrera de full-stack mientras trabajo como CM<br>
         Me anote en el curso de python porque es uno de los lenguajes mas solicitados y me llamo la atencion</p>
    </div>

    <h1 style="text-align: center"> EL PROYECTO</h1>
<p style="text-align: center; text-justify:auto; margin: 5px 5px 5px 30px">El proyecto consta de una pagian web basada en una libreria donde se puede dar reseña de libros ya leidos.<br>
   En torno a esto la pagina posee diferentes funciones como la capacidad de editar tu reseña en el momento con tu usuario!.<br>
   La app es desarrollada dentro del proyecto final del curso de python</p>

{% endblock %}